* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.banner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 70px;
}
.group-left {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: inherit;
}
.group-left input {
	padding: 10px 20px;
	margin-left: 3rem;
  font-size: 1rem;
  width: 350px;
  border-radius: 20px;
  border: 1px solid #e8e8e8;
}
.group-left input:focus {
	outline: none;
}
.group-left i {
	color: #db9411;
	position: relative;
	left: -40px;
	cursor: pointer;
}
.group-right {
	height: inherit;
	display: flex;
	align-items: center;
}
.group-right .top-links {
	list-style-type: none;
	margin-bottom: 0;
}
.group-right .top-links .top-links-item {
	display: inline-block;
	padding: 0 10px;
}
.group-right .top-links a {
	text-decoration: none;
	color: black;
	font-weight: 300;
	transition: .3s;
}
.group-right .top-links a:hover {
	color: orange;
	font-size: 1rem;
}
.group-right .top-links a i {
	color: #db9411;
}
.group-right .top-buttons {
	border-left: 1px solid #777;
	padding-left: 10px;
}
.group-right .top-buttons .btns {
	border: none;
	width: 90px;
	height: 50px;
	font-size: 1rem;
	border-radius: 10px;
	box-shadow: 0 0 4px #eee;
	margin-left: 10px;
	color: white;
}
.group-right .top-buttons .btns:focus {
	outline: none;
}
.group-right .top-buttons .btn-login {
	background-color: #f18121;
}
.group-right .top-buttons .btn-register{
	background-color: #66b4e4;
}